---
import Layout from "../layouts/Layout.astro";

// This would typically come from a database or API
// const pastMessages = [
//   { greeting: "Hello there!", name: "Alice" },
//   { greeting: "Good morning!", name: "Bob" },
//   { greeting: "Have a nice day!", name: "Charlie" },
// ];

const apiDomain = process.env.PUBLIC_API_URL;
const apiUrl =
  apiDomain != null ? `https://${apiDomain}` : "http://localhost:4000";

const res = await fetch(`${apiUrl}/greetings`);
const pastMessages: { message: string; author: string }[] = await res.json();
---

<Layout title="Greeting Website">
  <main
    class="bg-base text-text p-4 min-h-screen flex flex-col items-center justify-center"
  >
    <header class="mb-8 mt-12">
      <h1 class="text-love text-3xl font-bold mb-2">Tidbyt Greeting</h1>
      <p class="text-muted">Send me a message on my Tidbyt</p>
    </header>

    <form class="bg-surface p-6 rounded-lg border border-iris w-full max-w-lg">
      <div class="mb-4">
        <label for="greeting" class="block text-pine mb-2"
          >Your Greeting (max 20 chars)</label
        >
        <input
          type="text"
          id="greeting"
          name="greeting"
          maxlength="20"
          class="w-full p-2 border rounded"
          required
        />
      </div>
      <div class="mb-4">
        <label for="name" class="block text-pine mb-2"
          >Your Name (max 10 chars)</label
        >
        <input
          type="text"
          id="name"
          name="name"
          maxlength="10"
          class="w-full p-2 border rounded"
          required
        />
      </div>
      <button
        type="submit"
        class="bg-gold text-base px-4 py-2 rounded w-full hover:bg-rose transition-colors"
      >
        Send Greeting
      </button>
    </form>

    <div class="mt-12 w-full max-w-lg">
      <h2 class="text-subtle text-xl mb-4">Past Greetings</h2>
      <ul class="space-y-4">
        {
          pastMessages.map(({ message, author }) => (
            <li class="bg-surface p-4 rounded-lg">
              <p class="text-text">{message}</p>
              <p class="text-foam text-sm mt-1">- {author}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
