---
export const prerender = false;

import { dehydrate, QueryClient } from "@tanstack/react-query";
import { ArrowRight } from "lucide-astro";
import { MessageData } from "../components/MessageData";
import { getMessages } from "../hooks/useMessages";
import Layout from "../layouts/Layout.astro";

const queryClient = new QueryClient();
await queryClient.prefetchQuery({
  queryKey: ["messages"],
  queryFn: getMessages,
});

const dehydratedState = dehydrate(queryClient);
---

<Layout title="Message Board" description="Send me a message on my Tidbyt.">
  <main
    class="p-4 min-h-screen flex flex-col items-center text-text bg-gradient-to-b from-base via-crust to-mantle"
  >
    <header class="mb-6 md:mb-8 mt-20 text-center">
      <h1
        class="text-3xl md:text-4xl leading-normal text-flamingo font-bold mb-4"
        style={{
          textShadow:
            "0 0 10px rgba(203, 166, 247, 0.7), 0 0 20px rgba(203, 166, 247, 0.5)",
        }}
      >
        Message Board
      </h1>

      <p class="text-muted md:text-lg">
        Send me a message on my Tidbyt. <a
          href="/about"
          class="whitespace-nowrap hover:text-peach"
          ><span class="underline">Learn more</span>
          <ArrowRight class="inline-block" size={14} /></a
        >
      </p>
    </header>

    <MessageData client:load dehydratedState={dehydratedState} />
  </main>
</Layout>
