<footer class="py-16 flex justify-center">
  <p class="text-sm text-teal">
    <a href="https://jakerunzer.com" target="_blank" class="hover:underline">
      Made with <span class="text-peach">♥</span> by Jake
    </a>
  </p>
</footer>
